.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 60px;
  margin-bottom: 77px;

  .work_detail {
    grid-column: span 3;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    grid-gap: 20px;

    .work_detail {
      grid-column: span 12;
    }
  }
}

@media screen and (min-width: 601px) {
  .wrapper {
    grid-gap: 30px;

    .work_detail {
      grid-column: span 6;
    }
  }
}
@media screen and (min-width: 1000px) {
  .wrapper {
    grid-gap: 30px;

    .work_detail {
      grid-column: span 3;
    }
  }
}
