.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green);
  height: 70px;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    h3 {
      font-weight: 600;
    }

    .links {
      display: flex;
      align-items: center;
      gap: 30px;

      .link {
        display: flex;
        align-items: center;
        gap: 20px;
        .line {
          width: 24px;
          height: 2px;
          background-color: black;
        }
      }
    }
  }
}
