.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  max-width: 230px;
  transition: all 0.3s ease;
  font-weight: 600;

  .right_button_line {
    width: 0px;
    transition: all 0.3s ease;
  }

  .left_button_line {
    width: 16px;
    height: 1px;
    background-color: black;
    transition: all 0.3s ease;
  }
  &:hover .right_button_line {
    transition: all 0.3s ease;
    width: 16px;
    height: 1px;
    background-color: black;
  }

  &:hover .left_button_line {
    width: 0;
    transition: all 0.3s ease;
  }
}
