.wrapper {
  margin-top: 32px;
  .image_div {
    width: 100%;

    .moving_titles {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      background-color: var(--green);
      padding-top: 8px;
      padding-bottom: 8px;
      width: 100%;

      .moving_title {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        animation: scroll 10s linear infinite;
        width: 100%;

        .label {
          white-space: nowrap;
          display: inline-block;
        }
        .dot {
          width: 2px;
          height: 2px;
          background-color: black;
        }
      }

      @keyframes scroll {
        0% {
          transform: translate3d(0, 0, 0);
        }

        100% {
          transform: translate3d(-50%, 0, 0);
        }
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 400px) {
  .wrapper {
    margin-top: 22px;
    .image_div {
      img {
        height: 70vh;
      }
    }
  }
}
