.wrapper {
  .person {
    display: flex;
    align-items: center;
    gap: 20px;
    img {
      max-width: 81px;
      max-height: 81px;
    }

    span {
      color: var(--fair-black);
    }
  }
}
