.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 5vw;
  height: max-content;
  padding-top: 150px;
  height: 750px;

  .contact_title {
    grid-column: span 5;
  }

  .form {
    display: flex;
    justify-self: flex-end;
    width: 100%;
    flex-direction: column;
    gap: 32px;
    grid-column: span 7;
    max-width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0vw;
    height: max-content;
    padding-top: 70px;
    height: 1050px;

    .contact_title {
      grid-column: span 12;
    }

    .form {
      display: flex;
      justify-self: flex-end;
      width: 100%;
      flex-direction: column;
      gap: 32px;
      grid-column: span 12;
      max-width: 100%;
    }
  }
}
