.wrapper {
  height: 100px;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    .logo {
      cursor: pointer;
    }

    nav {
      position: relative;
      display: flex;
      gap: 48px;
      .links {
        display: flex;
        align-items: center;
        gap: 32px;
        position: relative;
        right: 300px;

        a {
          font-family: "ClashDisplay-Regular";
          position: relative;
          font-weight: 600;

          &::before {
            position: absolute;
            content: "";
            background-color: black;
            height: 1px;
            width: 0;
            bottom: -3px;
            transition: all 0.3s ease;
          }
          &:hover::before {
            width: 100%;
            transition: all 0.3s ease;
          }
        }
      }

      .button {
        position: absolute;
        right: 0;
        top: -100%;
      }
    }
  }

  .mobile_container {
    display: none;
  }
}

@media screen and (max-width: 950px) {
  .wrapper {
    height: 80px;
    .container {
      display: none;
    }
    .mobile_container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 90px;

      .logo {
        cursor: pointer;
        user-select: none;
      }

      .togglers {
        height: 25px;
        .open_toggle,
        .close_toggle {
          position: absolute;
          right: 20px;
          transform: scale(1.5);
          cursor: pointer;
        }
      }

      nav {
        position: absolute;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        top: 80px;
        right: 0;
        padding-right: 20px;
        padding-top: 50px;
        gap: 48px;
        background-color: rgb(206, 138, 138);
        height: 100vh;
        width: 100%;
        .links {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          gap: 32px;
        }

        button {
          display: flex;
          align-items: center;
          justify-content: space-between;

          gap: 10px;
          .button_line {
            width: 16px;
            height: 1px;
            background-color: black;
          }
        }
      }
    }
  }
}
