.moving_titles {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--green);
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;

  .moving_title {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    animation: scroll 40s linear infinite;
    scroll-behavior: smooth;
    width: 100%;
    position: relative;

    .label {
      white-space: nowrap;
      display: inline-block;
    }
    .dot {
      width: 2px;
      height: 2px;
      background-color: black;
    }
  }

  @keyframes scroll {
    0% {
      left: 100%;
    }

    100% {
      left: -100%;
    }
  }
}
