@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --green: #d2f65a;
  --fair-black: rgba(25, 25, 25, 0.7);
}

body {
  font-family: "ClashDisplay-Regular";
  font-size: 18px;
}
@font-face {
  font-family: "ClashDisplay-Bold";
  src: url("./fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Bold.ttf"),
    url("./fonts/ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Bold.otf");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Extralight";
  src: url("./fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Extralight.ttf"),
    url("./fonts/ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Extralight.otf");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Light";
  src: url("./fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Light.ttf"),
    url("./fonts/ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Light.otf");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Regular";
  src: url("./fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Regular.ttf"),
    url("./fonts/ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Regular.otf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Medium";
  src: url("./fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Medium.ttf")
    url("./fonts/ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Medium.otf");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Semibold";
  src: url("./fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Semibold.ttf"),
    url("./fonts/ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Semibold.otf");

  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Bold";
  src: url("./fonts/ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Bold.ttf"),
    url("./fonts/ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Bold.otf");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

.sw {
  max-width: 1280px;
  margin: auto;
  padding-inline: 20px;
}

.fw {
  width: 100%;
  margin: auto;
}

h2 {
  font-size: clamp(1.3rem, 4vw, 3rem);
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.meta_text {
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 0.8125rem */
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.meta_small {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 0.75rem */
  letter-spacing: 0.09375rem;
  text-transform: uppercase;
}

.heading_small {
  font-size: 5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 5rem */
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}
.heading_medium {
  font-size: 7rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.big_text {
  font-size: 5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 5rem */
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}

h3 {
  font-size: clamp(1.5rem, 4vw, 2rem);
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 2.4rem */
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}

h4 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 1.8rem */
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}

h5 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 1.25rem */
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}
button {
  background-color: var(--green);
  padding: 16px;
  border: none;
  outline: none;
  cursor: pointer;
}

input {
  padding-inline: 24px;
  border: 2px solid black;
  outline: none;
  height: 60px;
}
input:focus {
  border: 2px solid var(--green);
}

textarea {
  padding: 28px;
  padding-inline: 24px;
  border: 2px solid black;
  height: 200px;
  border: 2px solid black;
  outline: none;
}
textarea:focus {
  border: 2px solid var(--green);
}

a {
  text-decoration: none;
  color: black;
}

@keyframes slideOut {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes slide-up {
  0% {
    margin-top: 30%;
    height: 300%;
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    margin-top: 0%;
    height: 103%;
    opacity: 1;
  }
}
@keyframes slide-up1 {
  0% {
    margin-top: 30%;
    height: 300%;
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    margin-top: 0%;
    height: 103%;
    opacity: 1;
  }
}
